<% layout('layouts/boilerplate') %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="card p-4 shadow">

        <h3 class="mb-4 text-center">Set Your Password</h3>

        <form action="/set-password" method="POST">

          <div class="mb-3">
            <label class="form-label">New Password</label>
            <input 
              type="password" 
              name="newPassword" 
              class="form-control"
              required
            />
          </div>

          <button class="btn btn-primary w-100">
            Set Password
          </button>

        </form>

      </div>

    </div>
  </div>
</div>