<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-6 offset-3">Signup</h1>
  <div class="col-6 offset-3">
    <a href="/auth/google" class="btn btn-danger w-100 mb-3">
  <i class="fa-brands fa-google me-2"></i>
  Sign up with Google
</a>

<div class="text-center mb-3">
  <hr>
  <span class="text-muted">OR</span>
</div>
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          name="username"
          id="username"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

        
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          name="email"
          id="email"
          type="email"
          class="form-control"
          required
        />
      </div>

       <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          name="password"
          id="password"
          type="password"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Signup</button>
    </form>
  </div>
</div>
